body {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Rectangle1 {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}